@import "custom";
@import "~bootstrap/scss/bootstrap";

/*-----------------------------------------------------------------------------
  Globals
-----------------------------------------------------------------------------*/

body {
  margin: 0px;
  padding: 0px;
}


main {
  margin-top: 56px;
}


section,
.container {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}


@media screen and (max-width: 920px) {
  section,
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}





/*-----------------------------------------------------------------------------
  Header
-----------------------------------------------------------------------------*/

.navbar {
  display: flex;
  justify-content: space-between;

  .navbar-logo {
    height: 24px;
  }
}





/*-----------------------------------------------------------------------------
  Main
-----------------------------------------------------------------------------*/

//
// Carousel
//

.carousel {
  height: 50vh;

  img {
    object-fit: cover;
    height: 50vh;
  }
}


.carousel-control-prev,
.carousel-control-next {
  width: 10%; // Change from Bootstrap's 15%
}
