@import "custom";
@import "~bootstrap/scss/bootstrap";

body {
  margin: 0px;
  padding: 0px;
}

.navbar {
  display: flex;
  justify-content: center;

  a {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }

  .navbar-cta-container {
    justify-content: flex-end;
  }

  .navbar-logo {
    height: 30px;
  }
}

.carousel {
  height: 50vh;

  img {
    object-fit: cover;
    height: 50vh;
  }
}
